.footer-container {
  background-color: rgb(53, 123, 193);
  position: sticky;
}

footer li {
  list-style: none;
}
.fit {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.title {
  width: 100px;
}

.topbar {
  background-color: rgb(62, 136, 210);
}
